@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --altura-secao: 100vh;
    --texto-font: "Inter", sans-serif;
    --titulo-color:#FFFFFF;
    --texto-color:#F9F9F9;
    --pe-texto-color:#C0C0C0;
    --botao-color: #167BF7;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #00020b;
    color: var(--titulo-color);
}
.conteudo{
    height: var(--altura-secao);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.titulo{
    font-family: var(--texto-font);
    font-weight: 700;
    font-size: 3em;
}
.texto{
    font-family: var(--texto-font);
    font-size: 1em;
    color:var(--texto-color);
}



.background__p1{
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-position: right top;
}
.conteudo__p1__assinatura{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0% 0% 0% 12%;;
    padding: 10px;
    width: 82%;
}
.conteudo__p1__assinatura__titulo{
    font-family: var(--texto-font);
    font-size: 1.75em;
    font-weight: 700;
}
.conteudo__p1__assinatura__img{
    margin: 22px 0px 54px 0;
    width: 348px;
}
.conteudo__p1__assinatura__link{
    font-family: var(--texto-font);
    display: block;
    padding: 16px;
    width: 512px;
    margin: 0 0 16px 0;
    background-color: var(--botao-color);
    border: var(--botao-color) 1px solid;
    border-radius: 8px;
    text-decoration: none;
}
.conteudo__p1__assinatura__link:hover{
    background-color: transparent;
    border: #FFFFFF 1px solid;
}
.conteudo__p1__assinatura__texto{
    font-family: var(--texto-font);
    font-size: 0.75em;
    color: var(--pe-texto-color);
}



.conteudo__p2__img{
    margin: auto;
    width: 68%;
}
.conteudo__p2__texto{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:8px;
}



.conteudo__p3__texto{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 16px;
}
.conteudo__p3__link{
    font-family: var(--texto-font);
    padding: 16px;
    width: 163px;
    background-color: var(--botao-color);
    border: var(--botao-color) 1px solid;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}
.conteudo__p3__link:hover{
    border: #FFFFFF 1px solid;
    background-color: rgba(0, 0, 0, 0);
}
.conteudo__p3__img{
    width: 66%;
    margin: auto;
}



.conteudo__p4__img{
    width: 74%;
    margin: auto;
}
.conteudo__p4__texto{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.conteudo__p5{
    height: var(--altura-secao);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 145px;
}
.conteudo__p5__d1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 78%;
}
.conteudo__p5__d1__dispositivos{
    display: flex;
    gap: 69px;
}
.conteudo__p5__d1__dispositivos__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.conteudo__p5__d1__dispositivos__img{
    width: 339px;
}
.conteudo__p5__d1__dispositivos__titulo{
    font-family: var(--texto-font);
    font-size: 2em;
    font-weight: 600;
}
.conteudo__p5__d2{
    width: 81%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 41px;
}
.conteudo__p5__d2__img{
    width: 7%;
}
.conteudo__p5__d2__texto{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.conteudo__p5__d2__texto__sub{
    display: flex;
    gap: 16px;
}
.conteudo__p5__d2__texto__sub__titulo{
    font-family: var(--texto-font);
    font-size: 1em;
}
.conteudo__p5__d2__texto__rodape{
    font-family: var(--texto-font);
    color:var(--pe-texto-color);
    font-size: 0.875em;
    text-align: center;
}